EMAIL_PROVIDER=gmail
EMAIL_FROM="Signature Digital <signature.digital.contact@gmail.com>"
ADMIN_NOTIFICATION_EMAIL=signature.digital.contact@gmail.com
GMAIL_USER=signature.digital.contact@gmail.com
GMAIL_APP_PASSWORD=mot_de_passe_application_google
NEXT_PUBLIC_ADMIN_EMAIL=signature.digital.contact@gmail.com
NEXT_PUBLIC_ADMIN_PASSWORD=Lasempe03
PUBLIC_APP_URL=http://localhost:5173
STRIPE_CHECKOUT_MODE=test
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_INSTALLATION_PRICE_ID_TEST=price_installation_test_xxx
STRIPE_RECURRING_PRICE_ID_TEST=price_recurring_test_xxx
STRIPE_INSTALLATION_PRICE_ID_LIVE=price_installation_live_xxx
STRIPE_RECURRING_PRICE_ID_LIVE=price_recurring_live_xxx
