EMAIL_PROVIDER=gmail
EMAIL_FROM="Signature Digital <signature.digital.contact@gmail.com>"
ADMIN_NOTIFICATION_EMAIL=signature.digital.contact@gmail.com
GMAIL_USER=signature.digital.contact@gmail.com
GMAIL_APP_PASSWORD=mot_de_passe_application_google
NEXT_PUBLIC_ADMIN_EMAIL=signature.digital.contact@gmail.com
NEXT_PUBLIC_ADMIN_PASSWORD=Lasempe03
